.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  background: linear-gradient(336deg, rgba(121, 228, 240, 1) 8%, rgba(21, 123, 222, 1) 80%);
  padding: 3rem 3rem;
  margin-right: 5rem;

  .leftSection {
    min-height: 50rem;
    max-height: 50rem;
    .devicesSection {
      border-radius: 25px;
      max-width: 50rem;
      height: fit-content;
      width: fit-content;
      padding: 3rem 3rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      margin-bottom: 2rem;
      background-color: #ffffff7d;
    }
  }

  .rightSection {
    margin-left: 10rem; // dirty fix for presentation
    height: 50rem;
    max-height: 50rem;
  }
}
