.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(121,228,240);
  background: linear-gradient(336deg, rgba(121,228,240,1) 8%, rgba(21,123,222,1) 80%);
  border: 1px solid red;
    padding: 3rem 3rem;
    margin-right: 5rem;
    .devicesSection {
      border-radius: 10px;
      max-width: 50rem;
      height: fit-content;
      width: fit-content;
      padding: 3rem 3rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      margin-bottom: 2rem;
      background-color: #fff;
    }
  }

