.infoPanel {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-width: 50rem;
  min-height: 26rem;
  max-height: 26rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4901960784);

  .textInformation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start !important;
    text-align: left !important;
  }

  .chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .emptyMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 50rem;
    max-width: 50rem;
    min-height: 26rem;
    max-height: 26rem;
  }
}
