.notificationPanel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 3rem 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4901960784);
  height: 43rem;
  overflow-y: scroll;
  height: inherit;
  max-height: inherit;
}

.message {
  width: 25rem;
  justify-content: flex-start;
  background-color: #3b9fe5;
  color: #000;
  margin-bottom: 10px;
  padding: 10px;
}